<div class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Dashboard
            </a>
        </div>

        <ul class="nav">
            <% if (smenu=="home") { %>
            <li class="active">
            <% } else { %>
            <li>
            <% } %>
                <a href="/">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>

            <% if (smenu=="products") { %>
            <li class="active">
                <% } else { %>
            <li>
                <% } %>
                <a href="/products">
                    <i class="pe-7s-note2"></i>
                    <p>Prducts Manager</p>
                </a>
            </li>
        </ul>
    </div>
</div>