<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <%- include partials/sidebar.ejs %>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%= title %></h4>
                            </div>
                            <div class="content">
                                <form action="/products/add" method="post" id="frmProduct">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input name="id" type="text" class="form-control" readonly placeholder="id" value="<%= p._id %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input name="name" type="text" class="form-control" placeholder="name" value="<%= p.name %>" required="required" minlength="3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Cost:</label>
                                                <input name="cost" type="number" class="form-control" placeholder="cost" value="<%= p.cost %>" required="required" min="0.1" step="0.1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Category:</label>
                                                <select class="form-control" name="category">
                                                    <option>Food</option>
                                                    <option>Book</option>
                                                    <option>Computer</option>
                                                    <option>Fashion</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                                    <button type="reset" class="btn btn-info btn-fill pull-left">Reset</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
</html>
