<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Login to system</h2>
                <form action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Enter password">
                    </div>
                    <a href="/register">Does not have an account, click here..</a>
                    <button class="btn btn-primary pull-right" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
</html>