<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <%- include partials/sidebar.ejs %>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Product manager</h4>
                                <a href="/products/new" class="btn btn-info btn-fill pull-right">Add new product</a>
                                <p class="category">List of products - e.g. books, movies, events, etc...</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table id="tbList">
                                    <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Cost</th>
                                    <th>Option</th>
                                    </thead>
                                    <tbody>
                                    <% productlst.forEach(function(product) { %>
                                    <tr>
                                        <td><%=product.id %></td>
                                        <td><%=product.name %></td>
                                        <td><%=product.category %></td>
                                        <td>$<%=product.cost %></td>
                                        <td class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" id="<%=product.id%>" name="btndel">Delete product</a></li>
                                                <li><a href="/products/edit?id=<%=product.id%>">Edit product</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
<script type="text/javascript">
    $(document).ready(function () {

        $("a[name='btndel']").click(function () {
            var pid = this.id;
            if(confirm("Delete production with id : " + pid + "?")){
                location.href="/products/del?id=" + pid;
            }
        });

        $("#tbList").DataTable();
    });
</script>
</html>
