<!DOCTYPE html>
<html>
<head>
    <title>Resgister</title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Registernew account</h2>
                <form action="/register" method="post" id="frmregister">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password_again" placeholder="Enter password" required>
                    </div>
                    <a href="/login">Already have an account? Click here..</a>
                    <button class="btn btn-primary pull-right" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    $( "#frmregister" ).validate({
        rules: {
            password: "required",
            password_again: {
                equalTo: "#password"
            }
        }
    });
</script>
</html>